@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerList</h2>
<table>
    <tr>
        <th>
            Customer
        </th>
    </tr>
    @foreach(var cutomer in Model)
    {
        <tr>
            <td>
                @cutomer.Name
            </td>
        </tr>
    }
</table>

